/* body style */
body {
    width: 800px;
    margin: 0px auto;
    height: 100%;
    font-size: 12pt;
}

/* student image */
#image img {
    margin-top: 20px;
    width: 150px;
}

#image {
    display: inline-block;
}

/* main window */
#info {
    display: inline-block;
    margin: 20px 0 0 50px;
    width: 500px;
    height: calc(100% - 40px);
}

/* list of parameters */
#parameters {
    display: block;
    width: 100%;
    background: #fff;
    padding: 5px;
}

/* current quest */
#quest {
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px 0;
    background: #efefef;
    border-radius: 10px;
}

#progressbar {
    width: calc(100% - 50px);
    height: 10px;
    display: inline-block;
    margin: 5px 0;
}

#alter {
    font-size: 10pt;
}

#alter a {
    text-decoration: none;
    color: #f50;
}

/* graph style */
#graph_wrap {
    background: #fff;
    text-align: center;
    width: 100%;
}
#graph {
    width: calc(100% - 50px);
    display: inline-block;
    height: 300px;
}

path {
    stroke-width: 1.25;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis path, .x.axis line, .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

/* buttons */
#control {
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    background: #efefef;
    border-radius: 10px;
    padding-top: 15px;
}

input[type=submit] {
    width: 100px;
    border: 1px solid black;
    background: #ddd;
    margin: 5px 5px;
}
