/* body style */
body {
    width: 800px;
    margin: 0px auto;
    padding: 20px;
}

/* student image */
#image img {
    width: 150px;
}

#image {
    display: inline-block;
}

/* main window */
#info {
    display: inline-block;
    margin-left: 50px;
}

#parameters {
    display: block;
}

#quest {
    display: block;
    text-align: center;
}

#graph {
    width: 400px;
    height: 300px;
}

#progressbar {
    width: 400px;
    height: 10px;
}

/* buttons */
input[type=submit] {
    width: 100px;
    border: 1.2px solid black;
    background: #ddd;
}

/* graph style */
path {
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis path, .x.axis line, .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}