<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Симулятор студента</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
        <script src="js/d3.js" charset="utf-8"></script>
        <script src="js/jquery.js" charset="utf-8"></script>
        <script src="js/jquery-ui.js" charset="utf-8"></script>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="image">
            <img src="img/normal.png">
        </div>
        <div id="info">
            <table id="parameters">
                <tr>
                    <td colspan="2"><span id="time"></span></td>
                </tr>
                <tr>
                    <td>Настроение: <span id="mood"></span></td>
                    <td>Прогресс: <span id="progress"></span></td>
                </tr>
                <tr>
                    <td>Сытость: <span id="satiety"></span></td>
                    <td>Финансы: <span id="finances"></span></td>
                </tr>
            </table>
            <script>
                function do_post(param) {
                    data = {
                        another: false, start: false, pause: false, reset: false,
                        stop: false, slow: false, normal: false, fast: false,
                    };
                    data[param] = true;
                    $.ajax({
                        type: 'POST',
                        url: '/send',
                        contentType : 'application/json',
                        data: JSON.stringify(data),
                        dataType: 'json',
                    });
                }
            </script>
            <div id="quest"> 
                <span id="status"></span><br/>
                <div id="progressbar"></div><br/>
                <span id="alter"><a href="javascript:do_post('another')" id="another"></a></span>
            </div>
            <div id="graph_wrap">
                <div id="graph" class="aGraph"></div>
            </div>
            <div id="control">
                <button onClick="javascript:do_post('start')">Старт</button>
                <button onClick="javascript:do_post('pause')">Пауза</button>
                <button onClick="javascript:do_post('reset')">Сброс</button>
                <button onClick="javascript:do_post('stop')">Стоп</button>
                <br/>
                <button onClick="javascript:do_post('slow')"><<</button>
                <button onClick="javascript:do_post('normal')">1.0x</button>
                <button onClick="javascript:do_post('fast')">>></button>
            </div>
        </div>
        <script>
            function reloader() {
                $.getJSON("/json/student", {}, function(data) {
                    $("#mood").text(data.mood);
                    $("#progress").text(data.progress);
                    $("#satiety").text(data.satiety);
                    $("#finances").text(data.finances);
                    $("#status").text(data.status);
                    $("#progressbar").progressbar({
                        value: data.completed,
                        max: data.duration
                    })
                    $("#time").text(data.day + ' ' + data.month + ', ' + data.hour + 'ч');
                    $("title").text(data.day + ' ' + data.month + ', ' + data.hour + 'ч');
                    $("#another").text(data.another);
                });
            }
            setInterval(reloader, 1000);
            reloader();
        </script>
    </body>
    <script src="js/plot.js"></script>
</html>