<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Test Page</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/d3.js" charset="utf-8"></script>
    </head>
    <body>
        Счётчик: {{param.tick}}<br>
        Настроение: {{param.mood}}<br>
        Прогресс: {{param.progress}}<br>
        Сытость: {{param.satiety}}<br>
        Финансы: {{param.finances}}<br>
        <form method="post" action="/">
            <input name="cmd" type="submit" value="start">
            <input name="cmd" type="submit" value="stop">
        </form>
        <div id="graph" class="aGraph" style="position:absolute;top:20pxleft:400; float:left"></div>
    </body>
    <script type="text/javascript">
        var data = {{ data|safe }}
    </script>
    <script src="js/plot.js"></script>
    <script type='text/javascript'>
        function reloader() {
            window.location=window.location;
        }
        setInterval("reloader()", 1000);
    </script>
</html>