<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Student</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
        <script src="js/d3.js" charset="utf-8"></script>
        <script src="js/jquery.js" charset="utf-8"></script>
        <script src="js/jquery-ui.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="image">
            <img src="img/normal.png">
        </div>
        <div id="info">
            <div id="parameters">
                Настроение: <span id="mood"></span><br>
                Прогресс: <span id="progress"></span><br>
                Сытость: <span id="satiety"></span><br>
                Финансы: <span id="finances"></span><br><br>
            </div>
            <div id="quest"> 
                Событие: <span id="status"></span><br>
                <div id="progressbar"></div>
            </div>
            <div id="graph" class="aGraph"></div>
            <div id="control">
                <form method="post" action="/">
                    <input name="cmd" type="submit" value="Старт">
                    <input name="cmd" type="submit" value="Пауза">
                    <input name="cmd" type="submit" value="Сброс">
                    <input name="cmd" type="submit" value="Стоп">
                </form>
            </div>
        </div>
        <script>
            function reloader() {
                $.getJSON("/json/student", {}, function(data) {
                    $("#mood").text(data.mood);
                    $("#progress").text(data.progress);
                    $("#satiety").text(data.satiety);
                    $("#finances").text(data.finances);
                    $("#status").text(data.status);
                    $("#progressbar").progressbar({
                        value: data.completed,
                        max: data.duration
                    })
                    $("title").text("Student - day " + Math.floor(data.tick / 24 ));
                });
            }
            setInterval(reloader, 1000)
        </script>
    </body>
    <script src="js/plot.js"></script>
</html>